@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

.Footer {
    justify-content: center;
  }
  
.FooterBody {
  display: grid;
  place-items: center;
}
  
.FooterLogo {
  display: block;
}
  
.FooterLogo img {
  width: 200px;
  height: auto;
  margin: 0px auto;
  padding-top: 50px;
}

.LogoText {
  display: block;
  font-size: 12px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: Coolvetica;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.PresentText {
  display: block;
  font-size: 12px;
  font-size: 15px;
  margin-bottom: 25px;
  font-family: Rubik;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.FooterContainer{
  display: block;
  margin-bottom: 50px;
}

.MediaLinks a {
  margin: 0px;
}

.react-multi-carousel-track[style]{
  transition: transform 400ms cubic-bezier(0, 0, 1, 1) 0s !important;
}

@media only screen and (max-width: 10000px) {

  .MediaLinks a {
    padding: 15px;
  }
  .carslide{
    width: 40%;
    margin-left: 30%;
    
  }
}
@media only screen and (max-width: 600px) {

  .MediaLinks a {
    padding: 5px;
  }
  .carslide{
    width: 100%;
    margin-left: 0%;
  }
}
@media only screen and (max-width: 450px) {
  
  .MediaLinks a {
    padding: 0px;
  }
  .carslide{
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 353px) {
  .MediaLinks a box-icon {
    margin-right: 2px;
  }
  .carslide{
    width: 100%;
    margin-left: 0%;
  }
}

